.header {
  padding: 28px 144px 38px;
}

.header .ant-layout-header {
  background-color: inherit;
  line-height: inherit;
  padding: 0;
}

.header h5.ant-typography {
  font-weight: 700;
  line-height: 21.78px;
  font-size: 18px;
  color: #333333;
  margin-bottom: 0;
}

.header span.ant-typography {
  font-weight: 400;
  line-height: 16.94px;
  font-size: 14px;
  color: #333333;
}

.header .ph-time {
  padding-top: 11.5px;
  text-align: right;
}

.header .ph-time h5.ant-typography {
  font-size: 14px;
  line-height: 16.94px;
}
